body {
    background-color: lightblue;
    margin-top:110px;
}


.btn-warning-blue {
    background-color: blue;
    border-color:darkblue;
    color: #FFF;
}
.text-danger-blue {
    color: #235789;
}

footer p {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
	color: navy;
    margin-left: 20px;
    margin-right: 20px;

}
  .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  
